html

#containter{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

h1{
	background-color: #6F1D1B;
	color: white;
	border: 1px;
	border-color: #D6A800;
	padding: 10px;
}

h2{
	background-color: #6F1D1B;
	color: white;
	border: 1px;
	border-color: #D6A800;
	padding: 10px;
}

h3{
	background-color: #6F1D1B;
	color: white;
	border: 1px;
	border-color: #D6A800;
	padding: 10px;
}

h4{
	background-color: #6F1D1B;
	color: white;
	border: 1px;
	border-color: #D6A800;
	padding: 10px;
}

a {
    color: #4f42b5;
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    text-decoration: underline;
    color: #D6A800;
}